/* body {
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px
} */

/* .title {
    text-align: center;
} */

/* .container-movie {
    margin-bottom: 20px;
}

.my-button {
    margin-left: 40px
} */